body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #f5f5f5;
  padding: 0;
  /* 不设置宽度的话会占满整个空间 */
  min-width: 450px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

input{
  outline:none;
}
button {
  background: none;
  border: none;
  -webkit-appearance: none;
}

#todoApp {
  position: relative;
  box-sizing: border-box;
  margin: 155px 0 40px 0;
}

#todoApp h1 {
  position: absolute;
  line-height: 0.5;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.new-todo {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 16px 16px 16px 60px;
  font-size: 24px;
  line-height: 1.4em;
  /* 通过设置上下一样的padding来居中 */
  background-color:#fefefe;
}

/* 占位符的样式要这么设置 */
input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.main {
  position: relative;
  background-color:#fff;
  border-top: 1px solid #e6e6e6;
}

/* 全选按钮开始 */
#toggle-all {
  opacity: 0;
  position: absolute;
  border: none;
}

#toggle-all+label {
  transform: rotate(90deg);
  position: absolute;
  width: 60px;
  top: -18px;
  left: 0;
}

#toggle-all+label:before {
  content: '❯';
  color: #ccc;
  font-size: 22px;
  line-height: 1;
}

#toggle-all:checked+label:before {
  color: #737373;
}
/* 全选按钮结束 */

#todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* 一个todo项 开始 */
.todo {
  font-size: 24px;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  color: #4d4d4d;
}

li.todo>div.view {
  display: flow-root;
  border-bottom: 1px #ededed solid;
  position: relative;
}

/* 切换状态的按钮开始 */
li.todo>div.view>.toggle {
  opacity: 0;
  z-index: 2;

  position: absolute;
  top: 0;
  bottom: 0;

  margin: auto 15px;

  height: 30px;
  width: 30px;
  background: none;
}

/* 有点偷懒啊,label只起到了画图的作用,因为没有给label加id,所以切换状态还是用的input元素 */
li.todo>div.view>.toggle+label {
  /* ↓ 这个绝对定位配合margin,简直了 */
  position: absolute;
  top: 0;
  bottom: 0;

  margin: auto 15px;

  display: inline-block;
  height: 30px;
  width: 30px;

  text-align: center;
  line-height: 30px;
  font-size:90%;

  border: 0.5px solid #ccc;
  color: #ccc;
  border-radius: 50%;
}

li.todo>div.view>.toggle:checked+label {
  color: #75cbbb;
  border-color: #75cbbb;
}
/* 切换状态的按钮结束 */

li.todo>div.view>p {
  width: 100%;
  display: inline-block;
  padding: 16px 16px 16px 60px;
  margin: 0;
  vertical-align: middle;
  color: inherit;
  transition: color 0.4s;
}

li.completed>div.view>p {
  color: #ccc;
  text-decoration: line-through;
}

li.editing div.view {
  display: none;
}

/* 编辑框开始 */
li .edit {
  display: none;
}

li.editing .edit {
  display: block;

  box-sizing: border-box;
  width: calc(100% - 60px);
  height: auto;
  padding: 15px 16px;
  margin: 0 0 0 60px;

  font-size: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}

/* 编辑框结束 */

button.destroy {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  /* 因为单行情况下,一个todo的高度为60,所以这样设置bottom和height就能居中 */
  font-size: 30px;
  border: none;
  background-color: none;
  color: #cc9a9a;
}

li.todo:hover button.destroy {
  display: inline-block;
}

li.todo button.destroy:hover {
  color: #e07171;
}

/* 一个todo项 结束 */

/* footer start*/
#todoApp>footer {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  background-color: rgba(255,255,255, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

#todoApp>footer>span {
  float: left;
}

.filterButton {
  opacity: 0;
  position: absolute;
}

.filterButton+label {
  margin: 0 6px;
  padding: 3px 7px;
  border-radius: 3px;
  border: 1px solid rgba(175, 47, 47, 0);
}

.filterButton+label:hover {
  border: 1px solid rgba(175, 47, 47, 0.1);
}

.filterButton:checked+label {
  border: 1px solid rgba(175, 47, 47, 0.2);
}

.clearCompleted {
  float: right;
  color: #777;
}

.clearCompleted:hover {
  text-decoration: underline;
}