<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>todo playground</title>

  <style>
    #todoApp {
      width: 500px;
      margin: 0px auto;
    }

    #todo-list{
      margin:0;
      padding:0;
    	list-style: none;
    }

    .todo {
      width: 100%;
      border: 2px blueviolet solid;
    }

    .completeButton{
      height:40px;
      width:40px;
      border-radius: 50%
    }

    .todo>p{
      display:inline;
    }

    li.completed>p{
      color:"#ccc";
      text-decoration:line-through;
    }
  </style>

  <script src="https://vuejs.org/js/vue.js"></script>
</head>

<body>
  <div id="todoApp">
    <header>
      <input type="text" placeholder="What need to be done?" v-model="newTodo" v-on:keyup.enter="appendTodo">
    </header>
    <div>
      <input type="checkbox" v-model="allDone">
      <ul id="todo-list">
        <li class="todo" v-bind:class="{completed: todo.isCompleted}" v-for="todo in filteredTodos">
          <input class="completeButton" type="checkbox" v-model="todo.isCompleted">
          <p>{{todo.content}}</p>
          <button class="destroy" v-on:click="destroyTodo(todo)">删除</button>
        </li>
      </ul>
    </div>
    <footer v-if="todos.length">
      <span><span>{{unCompleted}}</span> things left</span>
      <input name="visibility" type="radio" id="All" v-model="visibility" value="all">
      <label for="All">All</label>
      <input name="visibility" type="radio" id="Active" v-model="visibility" value="active">
      <label for="Active">Active</label>
      <input name="visibility" type="radio" id="Completed" v-model="visibility" value="completed">
      <label for="Completed">Completed</label>
      <button v-if="completed" v-on:click="clearCompleted">Clear Completed</button>
    </footer>
  </div>
  <footer></footer>

  <script>
    var filters = {
      all: function (todo) {
        return true
      },
      active: function (todo) {
        return todo.isCompleted === false;
      },
      completed: function (todo) {
        return todo.isCompleted === true;
      }
    }

    var todoApp = new Vue({
      "el": "#todoApp",
      data: {
        todos: [{
            isCompleted: true,
            content: "something to do 1."
          },
          {
            isCompleted: false,
            content: "something to do 2."
          },
          {
            isCompleted: true,
            content: "something to do 3."
          }
        ],
        visibility: 'all',
        newTodo: ''
      },
      computed: {
        completed: function () {
          let completedNum = 0;
          for (todo of this.todos) {
            if (todo.isCompleted === true) {
              completedNum++;
            }
          }
          return completedNum;
        },
        unCompleted: function () {
          let unCompletedNum = 0;
          for (todo of this.todos) {
            if (todo.isCompleted === false) {
              unCompletedNum++;
            }
          }
          return unCompletedNum;
        },
        allDone:{
          //这个alldone用的真是妙...
          get:function(){
            return this.unCompleted === 0
            //没有未完成的,也就是全部完成了(alldone)
          },
          set:function(value){
            this.todos.forEach(function(todo){
              todo.isCompleted = value;
            })
          }
        },
        filteredTodos: function () {
          return this.todos.filter(filters[this.visibility]);
        }
      },
      methods: {
        appendTodo:function(event){
          let value = this.newTodo;
          if(!value){
            return;
          }
          this.todos.push({
            isCompleted:false,
            content:value
          });
          this.newTodo = '';
        },
        destroyTodo: function (todo) {
          this.todos.splice(this.todos.indexOf(todo), 1);
          //从该todo的索引位置开始删除,删除一个元素
        },
        clearCompleted: function () {
          //过滤出未完成的todo,然后赋给this.todos就行
          this.todos = this.todos.filter(filters.active);
          //如果要使用遍历-splice删除的话,因为在删除过程中数组的长度会改变,就有点麻烦
        }
      }
    })
  </script>
</body>

</html>